<dl>
    <dd>
        <table cellspacing="0" cellpadding="7" border="2">
            <thead>
                <th>No</th>
                <th>Nomor SK Akreditasi</th>
                <th>TMT Akreditasi</th>
                <th>Tanggal Berakhir Akreditasi</th>
                <th>Nilai Akreditasi</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>02.00/535/BAP-SM/XI/2010</td>
                    <td>09/11/2010</td>
                    <td>09/11/2014</td>
                    <td>97.02</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>02.00/112/BAP-SM/SK/X/2015</td>
                    <td>13/10/2015</td>
                    <td>13/10/2020</td>
                    <td>97.00</td>
                </tr>
            </tbody>
        </table>
    </dd>
</dl>
